@tailwind base;
@tailwind components;
@tailwind utilities;

/* 외부폰트설정 */
@font-face {
  font-family: "ChosunGu";
  src: url("/fonts/ChosunGu.ttf") format("truetype");
}

/* 기본 스타일 */
body {
  font-family: "ChosunGu", Arial, Helvetica, sans-serif;
}
